.app-download {
    background: linear-gradient(to bottom, #368EEF, #368EEF); 
    padding: 20px; 
    border-radius: 0; 
    text-align: center; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    margin: 5px;
}

.app-download p {
    font-size: 50px; 
    color: #333;
    margin-bottom: 15px; 
}

.app-download img {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease; 
}

.app-download img:hover {
    transform: scale(1.1); 
}
